.SmartSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px;
}

.SmartSearch .Select {
  margin: 0 10px;
}

.Icon {
  position: absolute;
  font-size: 30px;
  margin-left: -40px;
  margin-top: -12px;
}