.FileLoader {
  width: 50%;
  margin: 0 auto 30px;
}

.MetroItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MetroColor {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 0 10px 0 5px;
}