.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);


  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    height: 100%;

    .container {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }
}