.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 150px;
  background: #eee;
  padding: 0 15px;
  text-align: center;
}